*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

:root{
    --bg-color: #141414;
    --border-color: #111111;
    --text-color: #ffffff;
    --button-color: #FF6000;
    --operation-color: #454545;
    --result-color: #adadad;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #174e96be;
}

#appBg{
    width: 320px;
    height: 510px;
    background-color: var(--bg-color);
    border: 5px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--bg-color);
}

#appBg form{
    width: 100%;
    height: 100%;
    background: transparent;
}

#appBg input[type=textfield]{
    width: 100%;
    height: 25%;
    cursor: default;
    color: var(--text-color);
    background: transparent;
    backdrop-filter: blur(10px);
    font-weight: 600;
    font-size: 50px;
    padding: 15px;
    text-align: right;
    border: 0;
    outline: none;
}

#appBg .result{
    width: 310px;
    height: 70px;
    background-color: var(--result-color);
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 0px;
}

#appBg input[type=button], input[type=reset]{
    width: 60px;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    color: var(--bg-color);
    background-color: transparent;
    padding: 18px;
    margin: 5px;
    border: 0;
    border-radius: 100%;
}

#appBg .color1{
    background-color: var(--operation-color) !important;
    color: #fff !important;
}

#appBg .color2{
    background-color: var(--button-color) !important;
    color: var(--text-color) !important;
}

